{% extends "unitrader/base.html" %}
{% block content %}
<h2>Available Items</h2>
{% if items %}
    <ul>
    {% for item in items %}
        <li>
            <h3>{{ item.item_title }}</h3>
            <p>{{ item.item_description }}</p>
            
            <p>Tags: {{ item.item_tags }}</p>
            
            {% if item.item_tags|lower == "auction" %}
            <p>Base Price: ${{ item.base_price }}</p>
            <p>Highest Bid: ${{ item.highest_bid }}</p>
                <form method="POST" action="{% url 'bid_on_item' item.id %}">
                    {% csrf_token %}
                    <input type="number" name="bid_amount" placeholder="Enter your bid" required>
                    <button type="submit">Place Bid</button>
                </form>
            {% elif item.item_tags|lower != "auction" %}
            <p>Price: ${{ item.base_price }}</p>

                <form method="POST" action="{% url 'buy_now' item.id %}">
                    {% csrf_token %}
                    <button type="submit">Buy Now</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available for purchase right now.</p>
{% endif %}
{% endblock %}
