{% extends "unitrader/base.html" %}

{% block content %}
<h2>Your Profile</h2>
<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Roll Number:</strong> {{ profile.roll_number }}</p>
<p><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</p>
<p><strong>Date Joined:</strong> {{ profile.date_joined}}</p>
<p><strong>Phone Number:</strong> {{ profile.ph_number }}</p>
<p><strong>Coins remaining:</strong> {{ profile.coins }}</p>
<p><a href="{% url 'edit_profile' %}">Edit Profile</a></p>
{% endblock %}
